@layer reset, base, tokens, recipes, utilities;

@layer base {
	:root {
		--global-font-body: "Inter Variable", sans-serif;
	}

	body {
		background-color: var(--colors-bg-canvas);
		color: var(--colors-fg-default);
		font-family: var(--global-font-body);
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

	* {
		border-color: var(--colors-border-default);
	}
}
